footer {
    width: 100%;
}

footer a {
    text-decoration: none;
}

.top-bottom-footer {
    width: 100%;
    height: fit-content;
    padding: 0.5% 0 0.5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--gray);
    font-size: 15px;
}

.click-here {
    color: var(--gray);
    border-bottom: solid 1px var(--gray);
}

.click-here:hover {
    color: var(--gray);
}

.footer-info {
    background-color: var(--gray);
    width: 100%;
    height: 100px;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px
}

.footer-links {
    display: flex;
    gap: 60px;
}

.footer-links a{
    color: var(--white);
}

.footer-links a:hover {
    color: var(--hover-text-color);
}

.footer-icons {
    display: flex;
    gap: 30px;
    color: var(--white);
}