nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
}

nav a {
    color: black;
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
}

a:hover {
    color: gray;
}

.nav-bar-left {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.nav-bar-right {
    width: 50%;
    display: flex;
    justify-content: center;
    gap: 30px;
}