nav {
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    z-index: 100;
}

nav a {
    color: var(--white);
    font-size: 15px;
    font-weight: 100;
    text-decoration: none;
}

a:hover{
    color: var(--hover-text-color);
}

.nav-bar-left {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    gap: 40px;
}

.nav-bar-left button{
    background-color: transparent;
    color: var(--white)
}

.nav-bar-right {
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 30px;
}
