* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --main-color: #F2BED1;
    --secondary-color: #FDCEDF;
    --tertiary-color: #F8E8EE;
    --quaternary-color: #F9F5F6;
    --card-color: #f0cad881;
    --white: #fff;
    --main-text-color: ;
    --title-color: ;
    --description-color: #777777;
    --button-color: ;
    --error-color: ;
    --success-color: ;
    --hover-text-color: gray;
}